/*Header*/
.header-box-blu {
    background-color: #1B263B;
    width: 100%;
    height: 100px;
    position: absolute; left: 0px; top: 0;
}
.poin{
    width: 28px;
    height: 28x;
    position: absolute; top: 10px; left: 10px;
}
.fb{
    width: 28px;
    height: 28x;
    position: absolute; top: 10px; left: 95%;
}.ig{
    width: 28px;
    height: 28x;
    position: absolute; top: 10px; left: 90%;
}
.jl{
    color: rgba(231, 235, 238, 0.63);
    font-family: Merriweather;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 26px;
    text-align: left;
    position: absolute; left: 45px;top: 10px
}
.box-abu {
    background-color: #EFF0EF;
    width: 100%;
    height: 420px;
    position: relative; top: 100px; 
}
/*--Header*/

/*Navbar*/
.nav-box {
    background-color: #E0E1DD;
    border-radius: 27px;
    width: 85%;
    height: 106px;
    position: relative; top: 50px; left: 8%;
}
.nav-box-menu {
   background-color: #FFFFFF;
   width: 80%;
   height: 60px;
   position: absolute; top: 22px; left: 15%;
}
.salatiga{
    width: 44px;
    height: 55px;
    position: absolute; top: 25px; left: 5%;
}
/*--Navbar*/